<!DOCTYPE html>
<html lang="en">

  <head>

    <title>uPick</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Pacifico&family=Shrikhand&family=Fanwood+Text:ital@0;1&display=swap" rel="stylesheet">
    <!-- Normalize/Border-box CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- App/Nav CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!-- App scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <nav>
      <!-- Logo -->
      <form method="GET" action="/"><button id="logo-button" type="submit"><span id="logo">uPick<span id='checkmark'>&#10004;</span></span></button></form>
      <!-- Nav Buttons -->
      <div class="nav-buttons">
        <form method="GET" action="/polls/search" id="search-form"><i id="search-icon" class="fas fa-search"></i><input id="nav-search-field" type="text" name="search" placeholder="Search polls.."><button class="nav" id="nav-search">Search</button></input></form>
        <form method="GET" action="/polls/create">
          <button class="nav" id="nav-create" type="submit">Create new poll</button>
        </form>
      </div>
    </nav>
  </header>

</html>

