<header>
  <nav>
    <span class="logo">uPick</span>
    <div>
      <form method="" action=""></form>
      <button type="submit">Search</button>
      <!-- <% if (!user) { %> -->
      <button type="submit">Create new poll</button>
      <!-- <% } %> -->
    </div>
  </nav>
</header>
