<header>
  <nav>
    <span id="logo">uPick</span>
    <div>
      <form method="" action=""></form>
      <button type="submit">Search</button>
      <button type="submit">Create new poll</button>
    </div>
  </nav>
</header>
