<header>
  <nav>
    <span id="logo">uPick</span>
    <span class="nav-buttons">
      <form method="" action=""></form>
      <button type="submit">Search</button>
      <button type="submit">Create new poll</button>
    </span>
  </nav>
</header>
