<head>
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Shrikhand&display=swap" type="text/css" />
</head>

<header>
  <nav>
    <span id="logo">uPick</span>
    <div>
      <input name="text" placeholder="Search"></input>
      <form method="GET" action="/polls/create"><button class="create_poll" type="submit">Create new poll</button></form>
    </div>
  </nav>
</header>