<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <body>
    <h1>Hello World!</h1>
    <% for (const poll of polls) { %>
    <h3><%= poll.question %></h3>
    <% for (const choice in poll.choicesNRanks) { %>
    <h3><%= choice %> <%= poll.choicesNRanks[choice] %></h3>
    <% } %>
    <% } %>
  
  </body>
</html>