<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="cheeky-comment">
      <p class="bold-comment">I don't know, you pick.</p>
      <p class="light-comment">(No really... I'm easy)</p>
    </div>


    <div class='poll-container'>
      <p>title</p>
    </div>

  </body>
</html>
