<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Header Partial, includes app CSS/scripts -->
    <%- include('partials/_header') %>
    <!-- Poll Create CSS -->
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />
    <!-- Poll Options Script -->
    <script type="text/javascript" src="/scripts/poll_options.js"></script>

  </head>




  <body>
    <main>

      <div class="cheeky-comment">
        <p class="bold-comment">I don't know, you pick.</p>
        <p class="light-comment">(No really... I'm easy)</p>
      </div>

      <form id="poll-form" method="POST" action="/polls">
        <h4 id="alert_prompt"></h4>
        <textarea name="text" id="poll-title" placeholder="What needs figuring out?"></textarea>
        <textarea name="text" id="poll-email" placeholder="Enter your email"></textarea>
        <textarea name="text" id="poll-description" placeholder="Add a description"></textarea>
        <textarea name="text" id="poll-choice1" placeholder="Enter poll choice"></textarea>
        <textarea name="text" id="poll-choice2" placeholder="Enter poll choice"></textarea>
        <textarea name="text" id="poll-choice3" placeholder="Enter poll choice"></textarea>
        <textarea name="text" id="poll-choice4" placeholder="Enter poll choice"></textarea>
        <textarea name="text" id="poll-choice5" placeholder="Enter poll choice"></textarea>
        <button type="submit" id="poll-submit-button">Submit</button>
      </form>

    </main>
  </body>

</html>
