body {
  background-color: #D3ECEE;
  font-family: 'Oswald', 'sans-serif';
  height: 100vh;
  color: #1d3557;
}

body h1 {
  color: #244751;
}

main {
  font-weight: 200;
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
}

div.cheeky-comment {
  width: 30%;
  margin: none;
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  position: relative;
  top: 130px;
}

body p.bold-comment {
  margin: 0;
  font-weight: 400;
  font-family: 'shrikhand';
}

body p.light-comment {
  color: #1a1919;
  margin-top: 0px;
  font-size: 24px;
}

textarea {
  width: 80%;
  height: 2em;
  margin: 0.5em;
  resize: none;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #1a1919;
  font-size: 30px;
  letter-spacing: 1px;
}

textarea:focus {
  outline: none;
  border: 1px solid #ff6f69;
}

button {
  font-family: 'shrikhand';
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#error-cheeky-comment {
  position: absolute;
  top: 300px;
}
