body {
  background-color: #EEE;
  font-family: 'Oswald', 'sans-serif';
  height: 100vh;
}

body h1 {
  color: #244751;
}

main {
  font-weight: 200;
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
}

textarea {
  width: 80%;
  height: 2em;
  margin: 0.5em;
  resize: none;
  background-color: #EEE;
  border: none;
  border-bottom: 1px solid #1a1919;
  font-size: 30px;
}

textarea:focus {
  outline: none;
  border: 1px solid #ff6f69;
}
