nav {
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  padding: 1em;
}

#logo {
  font-size: 40px;
  font-family: 'Shrikhand';
  margin-left: 0.5em;
  color: antiquewhite;
}
