nav {
  display: flex;
    justify-content: space-between;
    background-color: #457b9d;
    padding: 1em;
    height: 120px;
    align-items: center;
  }

#logo {
  font-size: 45px;
  font-family: 'Pacifico';
  margin-left: 0.5em;
  color: #ffffff;
}

#checkmark {
  content: "\2714";
  font-size: 55px;
}


#nav-search {
  background-color: #f1faee;
  color: #1d3557;
}

#nav-create {
  background-color: #e63946;
  color: #ffffff;
}
