ul {
  margin: 1em;
  align-self: flex-start;
  width: 80%;
}

li {
  list-style-type: none;
}

div.choice-result {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

div.form-buttons {
  display: flex;
  align-self: flex-end;
  margin-bottom: 1em;
  margin-right: 1em;
  align-items: flex-end;

}

#share-btn {
  margin-left: 0.5em;
  background-color: #1d3557;
  color: #ffffff;
}

#vote-button {
  height:100%;
}

#poll-results {
  width: 50%;
}

span.percentage {
  margin-left: 1em;
}

#results-title {
  margin-top: 0.5em;
  font-size: 50px;
}

