
li {
  list-style-type: none;
}

div.choice-result {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

#vote-button {
  height:100%;
}

#poll-results {
  width: 50vw;
}

span.percentage {
  margin-left: 1em;
}

#results-title {
  font-size: 50px;
  text-align: center;
}

#results-description, #results-title {
  margin: 0.5em;
}

