body {
  background-color: #ffeead;
}

ul {
  margin: 1em;
  align-self: flex-start;
  width: 80%;
}

li {
  list-style-type: none;
}

div.choice-result {
  display: flex;
  justify-content: space-between;
}

div.form-buttons {
  display: flex;
  align-self: flex-end;
  margin-right: 1em;
}

#share-button {
  margin-right: 0.5em;
}
